@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap");

/* Definicoes gerais da pagina */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Tirando sombra */
#criaa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Colocando cor no icone de home */
.iconecria {
  fill: var(--azul_sec) !important;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o círculo no topo do container */
  min-height: 100vh;
  max-width: unset !important;
  padding-top: 10px;
}

/* Retirando a borda */
input {
  border: 0 !important;
}

/* Adicionando flex-box */
.loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Adicionando flex-box e espacamento entre divs */
.alinha {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Adicionando tamanho */
.espaco {
  width: 100%;
}

/* Retirando opacidade, altura e adicionando transicao */
#eventorepete {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.infos p{
  color: white !important;
  margin-bottom: 0.3rem !important;
  font-size: 0.9rem !important;
}

/* Adicionando minimo de altura */
.infos {
  min-height: 380px;
}

/* Adicionando tamanho */
.step,
form {
  width: 100%;
}

/* Adicionando cor e centralizando o texto */
.step h1 {
  color: white;
  text-align: center;
}

/* Adicionando minimo e maximo de altura */
#desc {
  min-height: 58px;
  max-height: 250px;
}

/* Adicionando maximo de altura */
#preco {
  max-width: 270px !important;
}

/* Adicionando cor */
#labelimg {
  color: white;
}

#evePre{
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

/* Adicionado tamanho */
input[type="time"]{
  width: 95px !important;
}

input[type="date"] {
  width: 137px !important;
}

/* Adicionando cor, fonte e margin na parte de baixo da div */
#legendinha {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0 !important;
}

/* Adicionando cor e borda */
.btn-outline-primary {
  color: white !important;
  border-color: white !important;
  --bs-btn-active-bg: white !important;
}

/* Adicionado cor e borda */
.btn-check:checked + .btn {
  color: var(--roxo_terc) !important;
  border-color: var(--roxo_terc) !important;
}

/* Adicionando flex-box, tamanho espacamento */
.form-container {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Adicionando cor, flex-box, espacamento e sombra */
form {
  background-color: var(--form_cria) !important;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Adicione isso */
  justify-content: space-between; /* Adicione isso */
  height: 100%; /* Adicione isso */
  gap: 20px;
  box-shadow: -1px -1px 15px 1px rgba(0, 0, 0, 0.75);
}

/* Adicionadno flex-box e margin no topo da div */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Adicionando espacamento, borda, cor e trocando o cursor */
.button-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Adicionando flex-box */
.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Adicionando fonte, flex-box, espacamento e trocando o cursor */
.prev-btn,
.next-btn {
  cursor: pointer;
  height: 50px;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

/* Reposicionando a div */
.prev-btn:active,
.next-btn:active {
  transform: scale(0.95);
}

/* Adicionadno cor */
.iconevoltarevents {
  fill: var(--azul-claro_sec) !important;
}

/* Adicionando margin na esqueda e cor */
.prev-btn {
  margin-left: 0 !important;
  background: white;
  color: var(--azul-claro_sec);
}

/* Adicionando cor e margin */
.next-btn {
  background: var(--azul-claro_sec);
  margin-left: auto !important;
  color: white;
}

/* Adicionando cor */
.next-btn:hover {
  background: var(--azul_claro);
}

/* Adicionando margin e transicao */
.prev-btn > svg {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Reposicionando div  */
.prev-btn:hover svg {
  transform: translateX(-5px);
}