/* Tirando sombra */
#homea {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Colocando cor no icone de home */
.iconecasinha {
  fill: var(--azul_sec) !important;
}

/* editando carousel de eventos principais */
.carousel {
  position: unset !important;
  left: 80%;
}

/* Aplicando tamanho, posição, cor, sombra, borda, posicionamento, cursor e tirando coportamento da borda*/
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  border-radius: 25px;
  background-color: var(--branco);
}

/* Tirando coportamento da borda  */
button:focus {
  outline: none;
}

.slideh3{
  background: rgba(40, 65, 116, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(40, 65, 116, 0.3);

  padding: 8px;

  font-size: 20px;
  margin-top: 8px;
  width: auto !important;
  display: inline-block;
}

.carousel-caption{
  padding: 0 !important;
  left:20% !important;
  right: 20% !important;
}

/* adiciono espacamento no carousel */
.carousel-inner {
  margin-top: 2%;
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.75);
}

/* defino a imagem da seta */
.carousel-control-next-icon {
  background-image: var(--next_light) !important;
}

/* Adicionando fundo */
.carousel-control-prev-icon {
  background-image: var(--prev_light) !important;
}

/* deixo a msg de erro e altero seus espacamentos */
.msg_erro {
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}

.custom-prev,
.custom-next {
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-prev {
  left: 0;
}

.custom-next {
  right: 0;
}