@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Tirando sombra */
#homea {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Colocando cor no icone de home */
.iconecasinha {
  fill: var(--azul_sec) !important;
}

body{
  overflow-x: hidden;
}

/* editando carousel de eventos principais */
.carousel {
  position: unset !important;
  left: 80%;
}

/* Aplicando tamanho, posição, cor, sombra, borda, posicionamento, cursor e tirando coportamento da borda*/
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  border-radius: 25px;
  background-color: var(--branco);
}

/* Tirando coportamento da borda  */
button:focus {
  outline: none;
}

#naoAchou{
  color: var(--semevento);
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1.2rem;
}

.eventoslide img{
  background-color: var(--azul_terc);
}

.slideh3{
  background: rgba(40, 65, 116, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(40, 65, 116, 0.3);

  padding: 8px;

  font-size: 20px;
  margin-top: 8px;
  width: auto !important;
  display: inline-block;
}

.carousel-caption{
  padding: 0 !important;
  left:20% !important;
  right: 20% !important;
}

/* adiciono espacamento no carousel */
.carousel-inner {
  margin-top: 2%;
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.75);
}

/* defino a imagem da seta */
.carousel-control-next-icon {
  background-image: var(--next_light) !important;
}

/* Adicionando fundo */
.carousel-control-prev-icon {
  background-image: var(--prev_light) !important;
}

/* deixo a msg de erro e altero seus espacamentos */
.msg_erro {
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}

.custom-prev,
.custom-next {
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-prev {
  left: 0;
}

.custom-next {
  right: 0;
}

.nome_filtro{
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Russo One', sans-serif;
  font-size: 3rem !important;
  color: var(--black);
}

/* configurações dos filtros com principais esportes */
.alinhafiltro{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  height: 18px !important;
}

#maisfiltros{
  display: none;
}

.alinhafiltro path, .alinhafiltro img, .carouselimage img{
  width: 18px !important;
  fill: white;
}


.carouselOfImages{
  position: relative;
  margin: auto;
  overflow: visible;
  width: 100%;
}

.filtro_selecionado{
  background-color: var(--iconesup) !important;
  border: 0 !important;
}

#ultimo{
  margin-right: 0 !important;
}

.carouselimage {
  display: flex;
  margin-right: 10px !important;
  align-items: center;
  border-radius: 10px;
  background-color: var(--supfund);
  border: 1px solid var(--iconesup);
  padding: 10px;
  height: 38px;
  color: white;
  white-space: nowrap;
  position: relative;
  counter-increment: carousel-cell;
  text-align: center;
  vertical-align: center;
  transition: 0.2s;
}

.carouselimage:hover{
  background-color: var(--iconesup) !important;
}

.flickity-enabled {
  position: relative;
}

.flickity-viewport {
  overflow: hidden;
  align-items: center;
  position: relative;
  height: 38px !important;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-viewport {
  margin: 0px;
  width: 100%;
}

.flickity-slider{
  margin-left: 5px !important;
}

.fade:not(.show) {
  height: 0 !important;
}


.modal {
  z-index: 9999 !important;
  /* background-color: rgb(224, 224, 224) !important; /*mexer */
}

.modal-dialog{
  z-index: 99999 !important;
} 