/* Troco a cor do link de myevents */
#myeventsa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Mudo o icone de myevents */
.iconemeusevents {
  fill: var(--azul_sec) !important;
}

/* Adicionando flex-box */
#seletorevento {
  display: flex;
  flex-direction: row;
}

/* Alinhando texto no centro */
h3 {
  text-align: center;
}

/* Adicionando cor e borda */
.selected {
  background-color: var(--bgmyeve);
  color: var(--colmyeve);
  border: 0;
  border-bottom: 5px solid var(--colmyeve);
}

/* Adicionando cor e transicao */
.not-selected {
  background-color: var(--bgmyeve);
  color: var(--colmyeve);
  border: 0;
  transition: 0.3s;
}

/* Adicionando cor */
.not-selected:hover {
  background-color: var(--bgmyevehover);
  color: var(--colmyevehover);
}

/* altero o p de semeventos trocando a cor e os espacamentos */
.semevento {
  color: var(--semevento);
  margin-top: 10%;
  margin-bottom: 10%;
}


/* mexo no botao de cancelar inscricao, colocando padding e trocando as cores e espacamento */
.inscricao {
  padding: 10px;
  color: var(--branco);
  border: 0 !important;
  border-radius: 15px;
  background-color: red;
  transition: 0.4s ease;
  user-select: none;
}

/* Troco a cor do botao no seu hover */
.inscricao:hover {
  cursor: pointer;
  background-color: #962121;
}

/* Altero as configruracoes dos inputs de barra de pesquisa */
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  box-shadow: 1px 0px 3px 2px var(--cor_sombraev);
  border-radius: 25px;
  background-color: var(--branco);
}

/* deixo como padrao a mesagem de erro invisivel e centralizada */
.msg_erro {
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}

/* classe onde a barra sera invisivel */
.sembarra {
  display: none;
}

.editBtn {
  width: 115px; /* Adjust as needed */
  height: 44px;
  border-radius: 15px;
  border: none;
  background-color: var(--azul_terc);
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  overflow: hidden;
  transition: all 0.3s;
}

.editBtn:hover::before {
  transform: scale(1.5); /* Adjust as needed */
}

.editText {
  margin-right: 25px !important;
  margin-left: auto;
  text-align: center;
  color: white;
}

.editBtn svg {
  height: 17px;
  margin-left: 10px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}

.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}

.editBtn::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 13px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
  transform: scaleX(1);
  left: -4px;
  transform-origin: right;
}