@import url('https://fonts.googleapis.com/css2?family=Acme&family=Asap+Condensed&family=Dela+Gothic+One&display=swap');

/* Adiciono a cor do link, retiro sua sombra e coloco o fundo branco atras */
#perfila {
  color: var(--azul_sec) !important;
  text-shadow: none;
  background-color: var(--branco);
}

/* Mudo a cor do icone de conta */
.iconeuser {
  fill: var(--azul_sec) !important;
}

/* adiciono um flex no container */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEXO NA CARTEIRINHA TIME  */
#perfil {
  margin-top: 50px;
  border: solid 0px #000000;
  border-radius: 12px;
  box-shadow: var(--sombraalterakey);
  background-color: var(--azul-claro_sec);
  margin-bottom: 30px;
}

/* coloco um display flex nas foto e descricao */
.fot_desc {
  display: flex;
  flex-direction: row;
}

/* Tirando o margin de row */
.row {
  margin: 0 !important;
}

/* edito a foto */
#semfoto {
  width: 8rem;
  height: 8rem;
  margin-top: 20px;
  border-radius: 50%;
  background-size: auto 8rem;
}

/* deixo quebrar as letras quando nao couber no espaco horizontal */
.word-break {
  word-break: break-word;
}
/* coloco os espacamentos e defino como fles nos campos de dados */
.dados {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border-radius: 5px;
}

/* mudo a cor de fundo dos locais onde terão os inputs */
.info {
  background-color: rgba(128, 128, 128, 0.447);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* coloco a cor dos textos como branco */
.texto {
  color: var(--branco);
}

/* defino os espacamentos do slogan e sua cor */
#sloganperfil {
  color: #ffffff !important;
  margin-bottom: 0 !important;
  margin-right: auto;
}

/* coloco um flex na div que tera a hashtag */
#hashtag {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 0 !important;
}

#qualidade{
  font-family: 'Acme', sans-serif;
  font-size: 1.3rem;
  color: #145374;
}

/* Retirando espacamento */
.row > * {
  padding: 0 !important;
}

/* defino a largura da logo da carteirinha  */
#logo_cart {
  width: 40px;
  position: relative;
}

/* coloco um flex na div que possui os botoes */
#botoes {
  display: flex;
  flex-direction: column;
}

/* Abaixo tenho os css do switch que está em desenvolvimento para a funcao de alterar tema */

/* defino os tamanhos e posicoes do switch */
.switch {
  display: block !important;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  top: 20px;
  left: 20px;
}

/* defino o input de switch como invisivel */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* defino a estetica do switch antes de ser apertado */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

/* defino a estetica do switch depois de ser apertado */
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

/* defino o svg de sol como absoluto */
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* defino a estetica do icone de lua */
.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* crio uma animacao para o icone de sol rodar no seu proprio eixo */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* crio uma animacao para o icone de lua*/
.moon svg {
  animation: tilt 2s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Adicionando cor */
.input:checked + .slider {
  background-color: #183153;
}

/* Adicionando sombra */
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

/* Reposicinando div na tela  */
.input:checked + .slider:before {
  transform: translateX(30px);
}

/* Adicionando margin na parte de baixo da div */
.telefone {
  margin-bottom: 0 !important;
}



/* Ajustando tamanho da div */
@media (min-width: 1395px) and (max-width: 10000px) {
  #alinhar {
    width: 570px !important;
  }
}


/* Ajustando tamanho da div */
@media (min-width: 1216px) and (max-width: 10000px) {
  .foto {
    width: 30% !important;
  }

  .todosdados{
    width: 70% !important;
  }
}

.editar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: var(--azul_princ);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--azul_terc);
  transition-duration: 0.3s;
}

.iconeEditar {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  fill: white;
  transition-duration: 0.3s;
}

.editar:hover {
  color: transparent;
}

.editar:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.editar:active {
  transform: translate(3px , 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px var(--azul_terc);
}

.excluir{
  width: 143px;
}

.excluir .excluir__icon {
  transform: translateX(100px);
}

.excluir:hover .excluir__icon {
  width: 143px;
  transform: translateX(-7px);
}