/* Adicionando cor e tirando a sombra */
#ajudaa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Trocando a cor  */
.iconeajuda {
  fill: var(--azul_sec) !important;
}

/* Adicionando cor, margin, borda e flex-box */
#container {
  background: var(--azul_princ);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adicionando cor */
#container h1,
p {
  color: var(--branco);
}

/* Adicionando flex-box e colocando estilo negrito */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-weight: bold;
}

/* Adiionando cor e escondendo a label */
.erro {
  display: none;
  color: #f58181;
}

/* Adicionando tamanho */
.campos {
  width: 95%;
}

/* Adicionando cor, flex-box e borda */
#form {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

/* Adicionando tamanho, borda, cursor, cor e transicao */
#envio {
  height: 45px;
  border-radius: 5px;
  background-color: var(--azul_escuro);
  color: var(--branco);
  border: 1px solid black;
  transition: 0.4s ease;
  cursor: pointer;
}

/* Adicionando cursor e cor */
#envio:hover {
  cursor: pointer;
  background-color: var(--azul_quint);
}

/* Adicionando minino e maximo nos inputs */
#floatingTextarea1 {
  min-height: 150px;
  max-height: 400px;
}

/* Adicionando margin */
#floatingInputGrid {
  margin-bottom: 5px;
}

/* Adicionando outline, borda e tirando sombra */
#floatingInputGrid,
#floatingTextarea1 {
  outline: 0;
  border: 1px solid;
  box-shadow: 0 0 0 0;
}
