@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');


/* Definições geral da página */
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando cor e font do body */
body{
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to top right, #057dc2, #83e3cd);
    background-attachment: fixed;
}

/* Aplicando altura no header */
header{
    height: 10%;
}

/* Aplicando posição na imagem*/
img{
    position: absolute;
    width: 10%;
    left: 50px;
    top: 50px;
}

/* Aplicando tamanho, margens, cor e bordas na div */
.div_cadastro{
    width: 27%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px; 
    box-shadow: -1px -2px 25px 8px #000000;
}

/* Aplicando flexbox e fonte */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-weight: bold;
    font-size: 35px;
}

/* Aplicando margem e flexbox na div */
.formulario{
    margin: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 20px;
}

/* Aplicando flexbox na div */
form .nome{
    display: flex;
    flex-direction: column;
}

/* Aplicando margem */
.campos {
    margin-top: 3%;
}

/* Selecionando todos os inputs e aplicando margem e tamanho */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
    padding: 3%;
    font-size: 18px;
    width: 94%;
    margin-bottom: 1.5%;
    border: 1px solid black;
    outline: 0;
}

/* Selecionando todas as divs com determinado nome e aplicando uma margem */
div[class="jogabilidade"],
div[class="profissa"],
div[class="amad"],
div[class="inic"]{
    margin-bottom: 4%;
}

/* Aplicando margen,cor, borda e fonte no botão */
button{
    margin-top: 25px;
    margin-bottom: 10%;
    padding: 11px;
    cursor: pointer;
    border: 1px solid black;    
    background-color: #057dc2;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

/* Aplicando diplay e cor na mensagem de erro */
.erro {
    display: none;
    color: #f58181;
}

/* Configurando paragrafo com padding e espaco entre letras */
#textin{
    padding: 45px;
    padding-top: 15px;
    letter-spacing: 1px;
    padding-bottom: 0px;
    text-align: justify;
}
