@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* Aplicando marge nas definições gerais da página */
* {
  margin: 0;
}

/* Aplicando style na lista */
ul {
  list-style: none;
}

/* Aplicando flexbox, margem e bordas */
.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 35vh;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 1rem;
}


/* Mudando cursor no hover */
.item:hover {
  cursor: pointer;
}

/* Aplicando tamanho, cor e alinhamento */
.pergunta{
  padding: 0.6rem;
  width: 100%;
  color: #ffffff;
  text-align: justify;
}

/* Mudando bordas e cor */
.prim{
  border-radius: 10px 10px 1px 1px;
  background-color: #145374;
  
}

/* Aplicando bordas e cor */
.seg{
  border-radius: 1px 1px 10px 10px;
  background-color: #1877f2
}

/* Aplicando tamanho, cor e display */
.conteudo{
  padding: 0.6rem;
  display: none;
  color: #000000;
  width: 100%;
  text-align: justify;
}

/* Aplicando cor */
#conteudo1{
  background-color: #83e3cd;
}

/* Aplicando bordas e cor */
#conteudo2{
  border-radius: 1px 1px 10px 10px;
  background-color: #83e3cd;
}