#ajudaa{
    color: #4267b3 !important;
    text-shadow: none;
  }

#voltar{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s ease;
}

#voltar:hover{
    background-color: #057dc2;
}

#voltar p{
    color: #000000;
}

#voltar img{
    height: 10px;
    padding-right: 5px;
}

#container{
    background:  #057dc2;
    width: 37%;
    margin: 0 auto;
    margin-top: 5%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 41px 3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container h1, p{
    color: #fff;
}

/* Aplicando flexbox e espaçamento */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
}

.erro{
    display: none;
    color: red;
}

/* Selecionando todos os inputs e aplicando margem e tamanho */
input[type="email"], textarea{
    padding: 3%;
    font-size: 18px;
    margin-bottom: 5px;
    border: 1px solid black;
    outline: 0;
    width: 94%;
}

.email{
    padding-top: 40px;
}

.campos{
    width: 90%;
}

textarea{
    resize: vertical;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    min-height: 100px;
}

/* Aplicando flexbox, margem e tamanho da fonte */
#form{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border-radius: 5px;
    padding: 10px;
}

/* Definindo tamanho, margem, borda, cor e tamanho da fonte */
#envio{
    width: 45%;
    height: 45px;
    margin-bottom: 8px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #057dc2;
    color: #fff;
    font-size: 15px;
    border: 1px solid black;
    transition: 0.4s ease;
    cursor: pointer;
}

#envio:hover{
    cursor: pointer;
	background-color: #284174;
}

.erro{
    color: #f58181;
}

