@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');

/* Denindo fonte definição geral da página */
*{
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando cor e deixando a imagem fixa independente do navegador */
body{
    background: linear-gradient(to top right, #057dc2, #83e3cd);
    background-attachment: fixed;
}

/* Definindo posição*/
img{
    position: absolute;
    width: 10%;
    left: 50px;
    top: 50px;
}

#logina{
    color: #4267b3 !important;
	text-shadow: none;
}

/* Definindo altura */
header{
    height: 10%;
}

/* Aplicando tamanho, cor, margem e bordas */
.divLogin{
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 12%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: -1px -2px 25px 8px #000000;
}


/* Aplicando flexbox e espaçamento */
h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

/* Aplicando flexbox, margem e tamanho da fonte */
#form{
    margin: 10%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    font-size: 20px;
}


/* Definindo tamanho da fonte e tirando decoração do link */
a{
    text-decoration: none;
    font-size: 15px;
}

/* Aplicando flexbox e espaçamento */
.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

/* Definindo tamanho, margem, borda, cor e tamanho da fonte */
.log button{
    width: 80%;
    height: 45px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #057dc2;
    color: #fff;
    font-size: 15px;
    border: 1px solid black;
    transition: 0.4s ease;
    user-select: none;
}

.log button:hover{
	cursor: pointer;
	background-color: #284174;

}

/* Aplicando display e cor */
.erro{
    display: none;
    color: #f58181;
    font-size: 12px;
    margin-bottom: 2%;
}

.erroVazio {
    font-size: 20px;
    color: #f58181;
}

.erroPadrao{
    transform: translateY(-35px);
    font-size: 15px;
    color: #f58181;
}

.certo{
    transform: translateY(-35px); 
    font-size: 15px; 
    color: rgb(95, 201, 74);
}

form .input-single {
    position: relative;
    margin: 8px 0;
  }
  
form .input-single label {
    position: absolute;
    left: 3px;
    bottom: 5px;
    cursor: text;
    transition: all 0.3s;
}
  

form .input-single .input {
    outline: 0;
    border: 0;
    width: 97%;
    padding: 3%;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #000000;
    font-size: 18px;
}

  
form .input-single .input:focus {
    border-bottom: 2px solid #000000;
}

form .input-single .input:focus ~ label {
    transform: translateY(-35px);
    font-size: 15px;
}
  

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

form .input-sing{
    position: relative;
    margin: 8px 0;
}

form .input-sing label{
    position: absolute;
    left: 3px;
    bottom: 5px;
    cursor: text;
    transition: all 0.3s;
}


form .input-sing .input {
    outline: 0;
    border: 0;
    width: 97%;
    padding: 3%;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #000000;
    font-size: 18px;
}


form .input-sing .input:focus{
    border-bottom: 2px solid #000000;
}

form .input-sing .input:focus ~ label {
    transform: translateY(-35px);
    font-size: 15px;
}

.focado {
    transform: translateY(-35px);
    font-size: 15px;
}

.semTexto {
    transform: translateY(0px);
}

#senha_usuario{
    margin-top: 15px;
}


@media screen and (max-width: 800px){
    *{
        max-width: 800px;
        font-size: 18px;
    }

    h1{
        font-size: 25px;
    }

    .divLogin{
        width: 45%;
    }

    .log button{
        width: 80%;
        height: 45px;
    }

    a{
        font-size: 14px;
    }

    img{
        width: 12%;
        left: 5%;
        top: 5%;
    }

    form .input-single .input{
        font-size: 15px;
    }

    form .input-single .input:focus ~ label {
        transform: translateY(-25px);
        font-size: 12px;
    }

    form .input-sing .input{
        font-size: 15px;
    }

    form .input-sing .input:focus ~ label {
        transform: translateY(-25px);
        font-size: 12px;
    }
    
    .focado {
        transform: translateY(-25px);
        font-size: 12px;
    }
    
    .semTexto {
        transform: translateY(0%);
        font-size: 18px;
        color: #000000;
    }

    .erro {
        font-size: 14px;
        margin-bottom: 5%;
    }

}


@media screen and (max-width: 600px){
    *{
        max-width: 600px;
        font-size: 15px;
    }

    h1{
        font-size: 25px;
    }

    .divLogin{
        width: 55%;
    }

    .log button{
        width: 80%;
        height: 45px;
    }

    a{
        font-size: 14px;
    }

    img{
        width: 15%;
        left: 5%;
        top: 5%;
    }

    form .input-single .input{
        font-size: 15px;
    }

    form .input-single .input:focus ~ label {
        transform: translateY(-25px);
        font-size: 12px;
    }

    form .input-sing .input{
        font-size: 15px;
    }

    form .input-sing .input:focus ~ label {
        transform: translateY(-25px);
        font-size: 12px;
    }
    
    .focado {
        transform: translateY(-25px);
        font-size: 12px;
    }
    
    .semTexto {
        transform: translateY(0%);
        font-size: 15px;
        color: #000000;
    }

    .erro {
        font-size: 13px;
        margin-bottom: 5%;
    }

}


@media screen and (max-width: 400px){
    *{
        max-width: 400px;
        font-size: 15px;
    }

    h1{
        font-size: 25px;
    }

    .divLogin{
        width: 65%;
    }

    .log button{
        width: 80%;
        height: 45px;
        font-size: 15px;
    }

    a{
        font-size: 12px;
        
    }

    img{
        width: 15%;
        left: 3%;
        top: 5%;
    }

    form .input-single .input{
        font-size: 15px;
    }

    form .input-single .input:focus ~ label {
        transform: translateY(-20px);
        font-size: 12px;
    }

    form .input-sing .input{
        font-size: 12px;
    }

    form .input-sing .input:focus ~ label {
        transform: translateY(-20px);
        font-size: 12px;
    }
    
    .focado {
        transform: translateY(-25px);
        font-size: 12px;
    }
    
    .semTexto {
        transform: translateY(0%);
        font-size: 15px;
        color: #000000;
    }

    .erro {
        font-size: 12px;
        margin-bottom: 5%;
    }

}