@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

/* Aplicando fonte */
body{
    font-family: 'Quicksand', sans-serif;
}

#sobrea{
    color: #4267b3 !important;
	text-shadow: none;
}

/* Definindo espaçamentos e flexbox */
#sobre{
    padding-left: 2%;
    padding-right: 2%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

/* Aplicando flexbox e espaçamento */
.h2_equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

/* Aplicando flexbox e espaçamento */
.integrantes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.integrantes .parte1, .parte2{
    display: flex;
    flex-direction: row;
    gap: 2%;
}


/* Aplicando espaçamento, cor, margem, flexbox, borda e sombra */
.pessoas{
    background-color: rgb(69, 182, 211);
    border-radius: 20px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

/* Definindo fonte */
.pessoas h3{
    font-size: 17px;
}

/* Definindo tamanho e margem */
img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Aplicando flexbox e margem */
.span_integrantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5%;
}

/* Definindo margem e tamanho */
.iconeSobre {
    margin-bottom: 0;
    width: 8%
}
#textos{
    color: black !important;
}

#c{
    cursor: pointer;
}

#img_easter{
    position: absolute;
    top: 0;
    display: none;
    width: 50%;
    top: 970px;
    left: 50%;
    transition: 2s ease;
}

#c:hover #img_easter{
    display: block;
}


@media screen and (max-width:800px){
    *{
        max-width: 800px;
    }

    #sobre p{
        font-size: 16px;
    }

    .h2_equipe{
        font-size: 20px;
    }

    .parte1, .parte2{
        display: flex;
    }

    .integrantes{
        flex-direction: column;
    
    }

    .pessoas{
        width: 90%;
    }

    img{
        width: 100%;
    }

    .iconeSobre{
        width: 32px;
        height: 23px;
    }  

    h3{
        font-size: 18px;
    }

    footer, p, a{
        font-size: 16px;
    }

    .footer-list{
        margin-right: 20%;
    }

    #sobre h1{
        font-size: 25px;
    }

}


@media screen and (max-width:600px){
    *{
        max-width: 600px;
    }

    #sobre p{
        font-size: 14px;
    }

    .h2_equipe{
        font-size: 17px;
    }

    .parte1, .parte2{
        display: flex;
    }

    .integrantes{
        flex-direction: column;
    
    }

    .pessoas{
        width: 240px;
    }

    img{
        width: 200px;
    }

    .iconeSobre{
        width: 27px;
        height: 18px;
    }  

    h3{
        font-size: 18px;
    }

    footer, p, a{
        font-size: 16px;
    }

    .footer-list{
        margin-right: 20%;
    }

    #sobre h1{
        font-size: 25px;
    }

}