/* altero cor de fundo e cor da fonte do link de conta */
#perfila {
  color: var(--azul_sec) !important;
  text-shadow: none;
  background-color: var(--branco);
}

/* altero cor do icone do usuario */
.iconeuser {
  fill: var(--azul_sec);
}

/* Definições geral da página */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* Aplicando altura no header */
header {
  height: 10%;
}
/* alinhando itens da div editar */
#editar {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input{
  border-bottom: 1px solid #000000 !important;
}

/* Aplicando tamanho, margens, cor e bordas na div */
.div_cadastro {
  width: 35%;
  background-color: var(--azul_princ);
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--sombraalterakey);
}

/* Aplicando flexbox e fonte */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  color: var(--branco) !important;
}

/* Aplicando margem e flexbox na div */
.formulario {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 6%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5%;
}

/* Aplicando margem */
.campos {
  margin-top: 3%;
}

/* Aplicando margen, cor, borda e fonte no botão */
#alterar,
#alterarSenha {
  padding: 11px;
  cursor: pointer;
  border: 1px solid var(--black);
  background-color: var(--azul_princ);
  color: var(--branco);
  border-radius: 5px;
  transition: 0.4s ease;
  user-select: none;
}


/* Adicionando cursor pointer e cor diferente para os hover de botao alterar e alterarsenha */
#alterar:hover,
#alterarSenha:hover {
  cursor: pointer;
  background-color: var(--azul_terc);
}

/* Aplicando diplay e cor na mensagem de erro */
.erro {
  display: none;
  color: #f58181;
}

/* Tirando padding das label */
#label_nome,
#label_email, .focado {
  padding-left: 0 !important;
}

/* trocando css do campos de digitação */
#floatingInputGroup1,
#floatingInputGroup2 {
  border: none;
  outline: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--black);
  padding-bottom: 0;
  box-shadow: 0 0 0 0;
}

/* adicionando hover */
#floatingInputGroup1,
#floatingInputGroup2:hover {
  border-bottom: 1px solid var(--black);
}


/* ajustando icone de cadeado dentro do input de email */
.input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  pointer-events: none;
}

.input-icon svg {
  height: 16px;
  fill: rgba(var(--bs-body-color-rgb),.65);;
}

/* alterando label de email do bootstrap */
.focado{
  content: "";
  border-radius: var(--bs-border-radius);
  color: rgba(var(--bs-body-color-rgb),.65);
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
  font-size: 1.25rem!important;
  height: unset !important;
}

/* altero espacamento e cor de fundo do input de email */
#floatingInputGroup2{
  padding-top: 1.625rem;
  background-color: #ccc;
}