@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

#ajudaa{
  color: #4267b3 !important;
  text-shadow: none;
  background-color: #fff;
}

.iconeajuda{
	fill: #4267b3;
}

/* Aplicando marge nas definições gerais da página */
* {
  margin: 0;
}

/* Aplicando style na lista */
ul {
  list-style: none;
}

/* Aplicando flexbox, margem e bordas */
#container {
  margin-top: 2rem;
  position: relative;
  border-radius: 10px;
  background-color:  #284174;
}

/* Mudando cursor no hover */
.item:hover {
  cursor: pointer;
}

/* Aplicando tamanho, cor e alinhamento */
.pergunta{
  padding: 0.6rem;
  width: 100%;
  color: #ffffff;
  text-align: justify;
}

/* Mudando bordas e cor */
.prim{
  background-color:  #145374;
}


/* Aplicando bordas e cor */
.seg{
  background-color:  #057dc2 ;
}

/* Aplicando tamanho, cor e display */
.conteudo{
  padding: 0.6rem;
  display: none;
  color: #000000;
  width: 100%;
  text-align: justify; 
  background-color:  rgb(0, 198, 255);
}

#suporte{
  background-color: #057dc2;
  width: 65px;
  border-radius: 100%;
}

#balao{
  padding: 0.4rem;
  width: 45px;
  margin: 10px;
}
