@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#homea{
    color: #4267b3 !important;
    text-shadow: none;
  }

#voltar{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: baseline;
    border-radius: 5px;
    transition: 0.4s ease;
}

h1{
    font-size: 55px;
}

#evento{
    display: flex;
    flex-direction: row;
}

#container p{
    font-size: 23px;
    margin-right: 5px;
}

#container{
    margin-left: 1.67em;
    margin-right: 1.67em;
    margin-top: 1em;
    padding: 10px;
}

#img_evento{
    margin-bottom: 20px;
    min-height: 15%;
    min-width: 15%;
    margin-right: 2%;
}

.iconezin{
    height: 25px;
    margin-right: 0.40em;

}

#informacoes{
    width: 49%;
    margin: 0 auto;
}

#desc #t_desc{
    font-size: 28px;
}

#localizacao, #alvo, #intuito, #data, #contato, #preco, #num_inscritos, #vagas_restam, #organizador{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5em
}

#sifrao{
    margin-right: 5px;
}

#dia{
    margin-right: 15px;
    margin-left: 0.10em;
}

#data{
    padding-right: 200px;
    
}

#organizador{
    margin-bottom: 1.5em;
}

.inscrever {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 250px;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: #057dc2;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }

.inscrever:active {
    transform: scale(.9);
    transition: all 100ms ease;
}
  
.inscrever img {
    transition: all .5s ease;
    z-index: 2;
    width: 48px;
    height: 48px;
}

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}
.inscrever:hover{
    background-color: #4267b3;
}
.inscrever:hover img {
    transform: scale(3) translate(140%);
}
  
.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}
  
.inscrever:hover .now {
    transform: translateX(30px);
    transition-delay: 300ms;
}
  
  .inscrever:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}

#tabela{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.table-wrapper{
    width: 98%;
    max-height: 310px;
    overflow-y: auto;
}

#local{
    color: #000000 !important;
    display: flex;
}


tr{
    text-align: center;
}

thead{
    position: sticky;
    top: 0;
    background-color: #057dc2;
    color: white;
    z-index: 100000;
    font-weight: bold;
  }

footer{
    margin-top: 20vh;
}


/* Mapa */

.birdseye{
    display: none !important;
}

#ZoomInButton{
    display: block !important;
}

.disabled {
    display: none !important;
}

.labelCanvas{
    width: 100% !important;
}

.CopyrightContainer{
    display: none !important;
}

.bm_LogoContainer{
    display: none !important;
}

.ScaleBar{
    margin-bottom: 10px !important;
}

#mapa{
    width: 100% !important;
}

body{
    padding: 0;
}

.row{
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.row> *{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
}

html   {
    height: 100%;
}