@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');

:root{
    --body_grad: linear-gradient(to top right, #057dc2, #83e3cd);
    --azul_princ: #057dc2;
    --azul_claro: rgb(0, 198, 255);
    --branco: #ffffff;
    --azul_sec: #4267b3;
    --ciano: #83e3cd;
    --black: #000000;
    --azul_terc: #284174;
    --azul_quart: #183153;
    --lilas: #4169e1;
    --roxo: #7f37c9;
    --azul_quint: #145374;
}

/* [data-theme="black"] {
    --azul_princ: #012f49;
    --branco: #000000;
    --black: #ffffff;
}  */

/* Denindo fonte definição geral da página */
*{
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando cor e deixando a imagem fixa independente do navegador */
body{
    background: var(--body_grad);
    background-attachment: fixed;
    min-width: 200px;
}

/* Definindo posição*/
img{
    position: absolute;
    width: 10%;
    left: 50px;
    top: 50px;
}

#logina{
    color: var(--azul_sec) !important;
	text-shadow: none;
}

/* Definindo altura */
header{
    height: 10%;
}

/* Aplicando tamanho, cor, margem e bordas */
.divLogin{
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: -1px -2px 25px 8px var(--black);
}


/* Aplicando flexbox e espaçamento */
h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

/* Aplicando flexbox, margem e tamanho da fonte */
#form{
    margin: 8%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    font-size: 1.18748em;
}


/* Definindo tamanho da fonte e tirando decoração do link */
a{
    text-decoration: none;
    font-size: 0.8em;
}

/* Aplicando flexbox e espaçamento */
.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

/* Definindo tamanho, margem, borda, cor e tamanho da fonte */
.log button{
    width: 80%;
    height: 45px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: var(--azul_princ);
    color: var(--branco);
    border: 1px solid black;
    transition: 0.4s ease;
    user-select: none;
}

.log button:hover{
	cursor: pointer;
	background-color: var(--azul_terc);

}

#senha_usuario{
    margin-top: 15px;
}


#floatingInputGroup1, #floatingInputGroup2{
    border: none;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 0 0;
    padding-top: 2rem;
}


#label_senha, #label_email{
    padding-left: 0;
}


#floatingInputGroup1, #floatingInputGroup2{
    border-bottom: 1px solid #000000;
}
