@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');

/* Denindo fonte definição geral da página */
*{
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando cor e deixando a imagem fixa independente do navegador */
body{
    background: linear-gradient(to top right, #057dc2, #83e3cd);
    background-attachment: fixed;
    min-width: 200px;
}

/* Definindo posição*/
img{
    position: absolute;
    width: 10%;
    left: 50px;
    top: 50px;
}

#logina{
    color: #4267b3 !important;
	text-shadow: none;
}

/* Definindo altura */
header{
    height: 10%;
}

/* Aplicando tamanho, cor, margem e bordas */
.divLogin{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: -1px -2px 25px 8px #000000;
}


/* Aplicando flexbox e espaçamento */
h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

/* Aplicando flexbox, margem e tamanho da fonte */
#form{
    margin: 8%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    font-size: 1.18748em;
}


/* Definindo tamanho da fonte e tirando decoração do link */
a{
    text-decoration: none;
    font-size: 0.8em;
}

/* Aplicando flexbox e espaçamento */
.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

/* Definindo tamanho, margem, borda, cor e tamanho da fonte */
.log button{
    width: 80%;
    height: 45px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #057dc2;
    color: #fff;
    border: 1px solid black;
    transition: 0.4s ease;
    user-select: none;
}

.log button:hover{
	cursor: pointer;
	background-color: #284174;

}

#senha_usuario{
    margin-top: 15px;
}


#floatingInputGroup1, #floatingInputGroup2{
    border: none;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 0;
    box-shadow: 0 0 0 0;
    
}


#label_senha, #label_email{
    padding-left: 0;
}


#floatingInputGroup1, #floatingInputGroup2{
    border-bottom: 1px solid #000000;
}
