/* Importanto fonte */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap");

/* Definindo plano de fundo e posição */
body {
  background: var(--body_grad);
  background-attachment: fixed;
  min-width: 200px;
}

/* Posição e tamanho da imagem */
img {
  position: absolute;
  width: 10%;
  left: 50px;
  top: 50px;
}

/* Altura do header */
header {
  height: 10%;
}

/* Adicionando cor e borda */
.divLogin {
  background-color: var(--branco);
  border-radius: 10px;
  box-shadow: -1px -2px 25px 8px var(--black);
}

/* Adicionando flex-box */
h1 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

/* Adicionando flex-box, margin e espacemnto e tamanho de fonte */
#form {
  margin: 8%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  font-size: 1.18748em;
}

/* Adicioando tamanho de fonte e tirando decoracao de texto */
a {
  text-decoration: none;
  font-size: 0.8em;
}

/* Adicionando flex-box, alinhamento e espacamento */
.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

/* Adicionando tamanho, margin, borda, cor, transicao e deixando como nao copiavel */
.log button {
  width: 80%;
  height: 45px;
  margin-top: 2%;
  border-radius: 5px;
  background-color: var(--azul_princ);
  color: var(--branco);
  border: 1px solid black;
  transition: 0.4s ease;
  user-select: none;
}

/* Adicionando cursor e cor */
.log button:hover {
  cursor: pointer;
  background-color: var(--azul_terc);
}

/* Adicionando margin */
#senha_usuario {
  margin-top: 15px;
}

/* Adicionando borda, outline, borda e sombra */
#floatingInputGroup1,
#floatingInputGroup2 {
  border: none;
  outline: 0;
  border-radius: 0;
  border-bottom: 1px solid #000000;
  box-shadow: 0 0 0 0;
  padding-top: 2rem;
}

/* Adicionando espacamento */
#label_senha,
#label_email {
  padding-left: 0;
}

/* Adicionando borda no bottom */
#floatingInputGroup1,
#floatingInputGroup2 {
  border-bottom: 1px solid #000000;
}
