@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

#ajudaa{
  color: var(--azul_sec) !important;
  text-shadow: none;
  background-color: var(--branco);
}

.iconeajuda{
	fill: var(--azul_sec);
}

* {
  margin: 0;
}

ul {
  list-style: none;
}

#container {
  margin-top: 2rem;
  position: relative;
  border-radius: 10px;
  background-color:  var(--azul_terc);
}

.item:hover {
  cursor: pointer;
}

.pergunta{
  padding: 0.6rem;
  width: 100%;
  color: var(--branco);
  text-align: justify;
}

.prim{
  background-color:  var(--azul_quint);
}

.seg{
  background-color:  var(--azul_princ) ;
}

.conteudo{
  padding: 0.6rem;
  display: none;
  color: var(--black);
  width: 100%;
  text-align: justify; 
  background-color:  var(--azul_claro);
}

#suporte{
  background-color: var(--azul_princ);
  border-radius: 100%;
  width: 50px;
}