:root {
    --body_grad: linear-gradient(to top right, #057dc2, #83e3cd);
    --azul_princ: #057dc2;
    --azul_claro: rgb(0, 198, 255);
    --branco: #ffffff;
    --azul_sec: #4267b3;
    --ciano: #83e3cd;
    --black: #000000;
    --azul_terc: #284174;
    --azul_quart: #183153;
    --lilas: #4169e1;
    --roxo: #7f37c9;
    --azul_quint: #145374;
    --azul_escuro: #043f5c;
  }
  
  #ajudaa {
    color: var(--azul_sec) !important;
    text-shadow: none;
    background-color: var(--branco);
  }
  
  .iconeajuda {
    fill: var(--azul_sec);
  }
  
  #voltar {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s ease;
  }
  
  #voltar:hover {
    background-color: var(--azul_princ);
  }
  
  #voltar p {
    color: var(--black);
  }
  
  #voltar img {
    height: 10px;
    padding-right: 5px;
  }
  
  #container {
    background: var(--azul_princ);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 41px 3px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #container h1,
  p {
    color: var(--branco);
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-weight: bold;
  }
  
  .erro {
    display: none;
    color: #f58181;
  }
  
  .campos {
    width: 95%;
  }
  
  #form {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  
  #envio {
    height: 45px;
    border-radius: 5px;
    background-color: var(--azul_quint);
    color: var(--branco);
    border: 1px solid black;
    transition: 0.4s ease;
    cursor: pointer;
  }
  
  #envio:hover {
    cursor: pointer;
    background-color: var(--azul_escuro);
  }
  
  #floatingTextarea1 {
    min-height: 150px;
    max-height: 400px;
  }
  
  #floatingInputGrid {
    margin-bottom: 5px;
  }
  
  #floatingInputGrid,
  #floatingTextarea1 {
    outline: 0;
    border: 1px solid;
    box-shadow: 0 0 0 0;
  }  