#myeventsa{
    color: #4267b3 !important;
    text-shadow: none;
  }

h1{
  padding-left: 30px;
}

#semevento{
  color: #69696998;
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
}

.evento{
  display: none;
}

/* Definindo tamanho, cor, fonte, borda e posição */
.inscricao{
  padding: 10px;
  color: white;
  border: 0.5px solid #333333;
  border-radius: 10px;
  background-color: #ff0000;
  transition: 0.4s ease;
  user-select: none;
}

/* mudo o cursor para pointer ao passar o mouse no botao inscrever-se */
.inscricao:hover{
	cursor: pointer;
	background-color: #962121;
}

/* Aplicando margem */
.search-bar {
  margin-top: 2%;
  width: 50%;
  padding-bottom: 20px;
}

#lupa{
  background-color: #057dc2;
}

#pesquisar{
  width: 80%;
  max-width: 600px;
}

#busca{
  outline: 0;
  box-shadow: 0 0 0 0 ;
}

input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  cursor: pointer;
  border: none;
  box-shadow: 1px 0px 3px 2px rgba(78, 78, 78, 0.75);
  border-radius: 25px;
  background-color: white;
}

.msg_erro{
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}

.sembarra{
  display: none;
}
