/*Css comum a muitas páginas */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Wix+Madefor+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Parisienne&family=Wix+Madefor+Text&display=swap');

img{
	vertical-align: unset;
}

/* Aplicando margem, fonte e tirando style das listas */
ul,li,p {
	margin: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial !important;
	user-select: none;
}


/* Aplicando cor e tirando decoração dos textos */
.menu li, .menu a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
	cursor: pointer;
	transition: 0.4s ease;
	user-select: none;
}

.menu a:hover{
	color: #4267b3 !important;
	text-shadow: none;
}

/* Tirando decoracao e aplicando cor no link */
a{
	text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
	transition: 0.4s ease;
	user-select: none;
	font-family: unset !important;
}

/* Aplicando cor */
.desc p{
	color: #ffffff;
}

/* Aplicando tamanho, borda e margem */
.icone{
	width: 24px;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 9px;
}

/* Aplicando flexbox, alinhamento, cor e sombra*/
.header{
	background: linear-gradient(to bottom right, #057dc2, #83e3cd);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

/* Aplicando tamanho, borda e margem */
#logo{
    width: 150px;
  	border-radius: 10px;
  	margin-bottom: 5px !important;
}

.nav-item{
	white-space: nowrap;
}
/* Aplicando margem */
.menu li{
	margin-left:20px;
}

/* Aplicando cor */
#textos{
	color: black;
}

/* Aplicando fonte, cor, tamanho e espaçamento*/
footer{
	font-family: 'Wix Madefor Text', sans-serif !important;
	width: 100%;
	background-color: #057dc2;
	box-sizing: border-box;
	letter-spacing: 1px;
	color:rgb(255, 255, 255);
	margin-top: 25vh;
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

footer p{
	font-family: 'Wix Madefor Text', sans-serif;
}

/* Aplicando cor, display, número de colunas e espaçamento */
#footer-content{
	padding-bottom: 2.7rem;
	margin: auto;
}

#footer_contacts{
	display: flex;
	flex-direction: column;
}

#footer_contacts img,#slogan,#footer_social_media{
	margin-left: auto;
	margin-right: auto;
}

/* Aplicando tamanho e espaçamento */
#foot{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	align-items: center;
	box-sizing:unset !important;
}

/* Aplicando flexbox e margem */
#footer_social_media{
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
	
}

/* Aplicando cor, tamnho e borda */
#footer_social_media .footer-link{
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5px;
}

/* Aplicando  flexbox e tirando style da lista */
.footer-list{
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
	padding-left: 0;
}

/* Aplicando cor */
.footer-list .footer-link:hover{
	color: #7f37c9 !important;
}

/* Aplicando cor, flexbox e alinhando*/
#instagram{
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Aplicando cor, flexbox e alinhando*/
#facebook{
	background-color: #1877f2;
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Aplicando cor e flexbox */
#whatsapp{
	background-color: #1da1f2;
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Definindo a margem dos h3 do footer */
.h3foot{
	margin: 0px;
}

/* Aplicando flexbox*/
#footer_subscribe{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* Aplicando flexbox, cor e borda */
#input_group{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 5px 5px 5px 5px;
}

/* cor, tamanho, espaçamento e colocando propriedades com valor padrão */
#input_group input{
	all: unset;
	padding: 0.75rem;
	width: 100%;
	color: black;
}

/* Aplicando cor, borda, fonte e cursor */
#input_group button{
	background-color: #4267b3 ;
	border: none;
	color: #ffffff;
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

/* Aplicando opacidade */
#input_group button:hover{
	opacity: 0.8;
}

/* Adicionando margem na imagem */
#input_group img{
	margin-top: 13px;
}

/* aplico cor de fundo, dou as configurações do texto e espacamento */
#copyright{
	display: flex;
	justify-content: center;
	background-color: #284174;
	font-size: 0.9rem;
	padding: 0.8rem;
	font-weight: 100;
	font-family: unset !important;
}

/* Aplicando flexbox */
.conteudo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

/* Aplicando flexbox, tamanho, borda, cor e sombra */
.evento{
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 1%;
    margin-left: 2%;
	margin-right: 2%;
    margin-top: 2%;
    width: 60%;
    border: 0;
    border-radius: 10px; 
    box-shadow: 0 3px 5px 5px rgba(131, 131, 131, 0.46);
	background: linear-gradient(55deg,#83e3cd, #057dc2, #83e3cd);
}

/* aplico um display flex entre a imagem e as informacoes de um evento*/
.informacoes{
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* Aplicando tamanho e borda*/
.imgEventos{
    width: 400px;
    height: 225px;
	border-radius: 5px;
}

/* Aplicando flexbox e margens */
.desc{
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	margin-left: 7px;
	width: 100%;
}

/* Aplicando fonte e margem */
.pTitulo{
    font-style: oblique;
	font-size: 25px;
	margin-bottom: 15px;
}

/* Defininfo margem */
.data_hora{
	margin-bottom: 3.5%;
}

/* Defininfo margem */
.ende{
	margin-bottom: 0;
}

/* aplico um flex entre o valor do evento e o botao de inscrever-se */ 
.btn_des{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	margin-top: auto;
}   

.cssbuttons-io-button {
    position: relative;
    margin-left: 1.67em;
    margin-top: 1.67em;
    background: #057dc2;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #057dc2;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #145374;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

/* css do botao de enviar email */
.send {
	background: royalblue;
	overflow: hidden;
	transition: all 0.2s;
}

.send svg {
	display: block;
	transform-origin: center center;
	transition: transform 0.3s ease-in-out;
	position: relative;
	left: -5px;
}

.send:hover .svg-wrapper {
	animation: fly-1 0.5s ease-in-out infinite alternate;
}

.send:hover svg {
	transform: rotate(45deg) scale(1.1);
}

.send:active {
	transform: scale(0.95);
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}
	to {
		transform: translateY(-0.1em);
	}
}
