:root {
  --body_grad: linear-gradient(to top right, #057dc2, #83e3cd);
  --azul_princ: #057dc2;
  --azul_claro: rgb(0, 198, 255);
  --branco: #ffffff;
  --azul_sec: #4267b3;
  --ciano: #83e3cd;
  --black: #000000;
  --azul_terc: #284174;
  --azul_quart: #183153;
  --lilas: #4169e1;
  --roxo: #7f37c9;
  --azul_quint: #145374;
  }
  
  [data-theme="black"] {
  --azul_princ: #012f49;
  --branco: #000000;
  --black: #ffffff;
  }
  
  #myeventsa {
  color: var(--azul_sec) !important;
  text-shadow: none;
  }
  
  .iconemeusevents {
  fill: var(--azul_sec);
  }
  
  h1 {
  padding-left: 30px;
  }
  
  #semevento {
  color: #69696998;
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
  }
  
  .evento {
  display: none;
  }
  
  .inscricao {
  padding: 10px;
  color: var(--branco);
  border: 0.5px solid #333333;
  border-radius: 10px;
  background-color: red;
  transition: 0.4s ease;
  user-select: none;
  }
  
  .inscricao:hover {
  cursor: pointer;
  background-color: #962121;
  }
  
  input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  box-shadow: 1px 0px 3px 2px rgba(78, 78, 78, 0.75);
  border-radius: 25px;
  background-color: var(--branco);
  }
  
  .msg_erro {
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
  }
  
  .sembarra {
  display: none;
  }