#homea{
  color: #4267b3 !important;
  text-shadow: none;
}

/* Aplicando flexbox, alinhamento, cor e sombra*/
#btn-home{
	padding-right: 0;
}

/* Aplicando margem */
.search-bar {
  margin-top: 2%;
  width: 50%;
  padding-bottom: 20px;
}

.carousel{
  position: unset !important;
}

/* Definindo tamanho,posição e flexbox */
.container {
  width:100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#lupa{
  background-color: #057dc2;
}

/* Aplicando tamanho, posição, cor, sombra, borda, posicionamento, cursor e tirando coportamento da borda*/
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  cursor: pointer;
  border: none;
  box-shadow: 1px 0px 3px 2px rgba(78, 78, 78, 0.75);
  border-radius: 25px;
  background-color: white;
}

/* Tirando coportamento da borda  */
button:focus {
  outline: none;
}

.carousel-indicators{
  top: 57%;
  margin-top: 10px;
  margin-bottom: 10px !important;
  position: relative !important;
}

.carousel-indicators [data-bs-target]{
  background-color: #83e3cd !important;
}

.primeiro{
  margin-top: 0 !important;
}

/* Aplicando flexbox */
section{    
  display: flex;
  justify-content: center;
  align-items: center;
}

.active:hover .fundoTexto{
  opacity: 1;
}

/* Aplicando cor, posição e fonte */
.titul{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em
}

/* Aplicando display, tamanho, posição, cor, borda e transição */
.fundoTexto{ 
  z-index: 999;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  height: 11%;
  text-align: center;  
  padding: 12px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(50, 174, 181, 0.543);
}

/* Aplicando cor, fonte, tamanho e alinhamento */
.text {
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  text-align: left;
}

.sb-slide{ 
	height: 100% !important;
  min-height: 30px;
  font-size: 100%;
  left: 0 !important;
}

  
.carousel-inner{
  margin-top: 2%;
}

   
   @keyframes scaleUp {
	0% {
	 transform: scale(1);
	}
   
	50% {
	 transform: scale(0.95);
	}
   
	100% {
	 transform: scale(1);
	}
}

/* Definindo posição e cursor */
.slide {
  left: 80%
}

.carousel-control-prev, .carousel-control-next{
  width: 10% !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  color: #183153 !important;
  opacity: 1 !important;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
  color: #183153 !important;
}

.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2383e3cd'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2383e3cd'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}