@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o círculo no topo do container */
    min-height: 100vh;
    background-color: #f0f0f0;
    max-width: unset !important;
    padding-top: 10px;
}

.horas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input[type="time"]{
    width: 130px !important;
}

.infos{
    height: 400px;
}

.step h1{
    color: white;
    text-align: center;
}

.form-container {
    align-items: flex-start; 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

form {
    background-color: var(--roxo_terc);
    border-radius: 5px;
    padding: 20px; 
    display: flex;
    flex-direction: column; /* Adicione isso */
    justify-content: space-between; /* Adicione isso */
    height: 100%; /* Adicione isso */
    gap: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prev-btn, .next-btn {
    cursor: pointer;
    height: 50px;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.prev-btn:active, .next-btn:active{
    transform: scale(0.95);
}
.iconevoltarevents{
    fill: var(--azul-claro_sec) !important;
}

.prev-btn{
    margin-left: 0 !important;
    background: white;
    color: var(--azul-claro_sec);
}
.next-btn {
    background: var(--azul-claro_sec);
    margin-left: auto !important;
    color: white;
}

.next-btn:hover {
    background: var(--azul_claro);
}

.prev-btn > svg {
    margin-right: 10px;
    transition: transform .3s ease-in-out;
}
.prev-btn:hover svg {
    transform: translateX(-5px);
}