/* Tirando sombra */
#homea {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Colocando cor no icone de home */
.iconecasinha {
  fill: var(--azul_sec);
}

/* editando carousel de eventos principais */
.carousel {
  position: unset !important;
  left: 80%;
}

/* Definindo tamanho,posição e flexbox */
.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/* Aplicando tamanho, posição, cor, sombra, borda, posicionamento, cursor e tirando coportamento da borda*/
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  border-radius: 25px;
  background-color: var(--branco);
}

/* Tirando coportamento da borda  */
button:focus {
  outline: none;
}

/* colocando margins nas cetinhas */
.carousel-indicators {
  top: 57%;
  margin-top: 10px;
  margin-bottom: 10px !important;
  position: relative !important;
}

/* mudando cor de fundo */
.carousel-indicators [data-bs-target] {
  background-color: var(--ciano) !important;
}

/* colocando espacamento no primeiro evento */
.primeiro {
  margin-top: 0 !important;
}

/* ao ter hover, o fundotexto aparece */
.active:hover .fundoTexto {
  opacity: 1;
}

/* Aplicando cor, posição e fonte */
.titul {
  color: var(--branco);
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* Aplicando display, tamanho, posição, cor, borda e transição */
.fundoTexto {
  z-index: 999;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  height: 11%;
  text-align: center;
  padding: 12px;
  position: absolute;
  bottom: 0px;
  background-color: var(--fundotext);
}

/* Aplicando cor, fonte, tamanho e alinhamento */
.text {
  color: var(--branco);
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

/* edito o slide com tamanhos, font e posicionamento */
.sb-slide {
  height: 100% !important;
  min-height: 30px;
  font-size: 100%;
  left: 0 !important;
  width: 200px !important;
}

/* adiciono espacamento no carousel */
.carousel-inner {
  margin-top: 2%;
  box-shadow: var(--cor_sombraev);
}

/* defino a imagem da seta */
.carousel-control-next-icon {
  background-image: var(--next_light) !important;
}

.carousel-control-prev-icon {
  background-image: var(--prev_light) !important;
}

/* deixo a msg de erro e altero seus espacamentos */
.msg_erro {
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}
