:root{
    --body_grad: linear-gradient(to top right, #057dc2, #83e3cd);
    --azul_princ: #057dc2;
    --azul_claro: rgb(0, 198, 255);
    --branco: #ffffff;
    --azul_sec: #4267b3;
    --ciano: #83e3cd;
    --black: #000000;
    --azul_terc: #284174;
    --azul_quart: #183153;
    --lilas: #4169e1;
    --roxo: #7f37c9;
    --azul_quint: #145374;
}

/* [data-theme="black"] {
    --azul_princ: #012f49;
    --branco: #000000;
    --black: #ffffff;
}  */

#homea{
    color: var(--azul_sec) !important;
    text-shadow: none;
  }
  
.iconecasinha{
    fill: var(--azul_sec);
}

.cssbuttons-io-button {
    position: fixed !important;
    top: 100px;
    z-index: 1;
}
.slot{
    height: 90px !important;
}

.NavBar_MapTypeButtonDropDownIcon{
    display: none !important;
}

.birdseye{
    display: none !important;
}

#ZoomInButton{
    display: block !important;
}

.disabled {
    display: none !important;
}

.labelCanvas{
    width: 100% !important;
}

.CopyrightContainer{
    display: none !important;
}

.bm_LogoContainer{
    display: none !important;
}

.ScaleBar{
    margin-bottom: 10px !important;
}

#mapa{
    width: 100% !important;
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}

.row> *{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body{
    padding: 0;
    margin: 0;    
}


html   {
    height: 100%;
}