@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@100&display=swap');

#homea{
    color: var(--azul_sec) !important;
    text-shadow: none;
}

.iconecasinha{
    fill: var(--azul_sec);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#homea{
    color: var(--azul_sec) !important;
    text-shadow: none;
}

#evento{
    display: flex;
    flex-direction: row;
}

#container p{
    font-size: 1.5rem;
}

#container{
    margin-top: 1.5em !important;
}

#img_evento{
    margin-bottom: 20px;
    min-height: 15%;
    min-width: 15%;
}

.iconezin{
    height: 25px;
    margin-right: 0.40em;
}

#informacoes{
    padding-left: 1em !important;
}

#localizacao, #alvo, #intuito, #data, #contato, #preco, #num_inscritos, #vagas_restam, #organizador{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5em
}

#sifrao{
    margin-right: 5px;
}

#organizador{
    margin-bottom: 1.5em;
}

.inscrever {
    margin-left: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 250px;
    gap: 10px;
    padding: 0 10px;
    color: var(--branco);
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--azul_princ);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

.inscrever:active {
    transform: scale(.9);
    transition: all 100ms ease;
}

.container{
    padding: 0 !important;
}
.inscrever img {
    transition: all .5s ease;
    z-index: 2;
    width: 48px;
    height: 48px;
}

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}
.inscrever:hover{
    background-color: var(--azul_sec);
}
.inscrever:hover img {
    transform: scale(3) translate(140%);
}

.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}

.inscrever:hover .now {
    transform: translateX(30px);
    transition-delay: 300ms;
}

.inscrever{
    user-select: none;
}

.inscrever:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}

#tabela{
    display: flex;
    flex-direction: column;
}

#local{
    color: var(--black) !important;
    display: flex;
}

footer{
    margin-top: 20vh;
}