#homea {
    color: var(--azul_sec) !important;
    text-shadow: none;
}

.iconecasinha {
    fill: var(--azul_sec) !important;
}

.cssbuttons-io-button {
    position: fixed !important;
    top: 100px;
    z-index: 1;
}

.slot {
    height: 90px !important;
}

.NavBar_MapTypeButtonDropDownIcon {
    display: none !important;
}

.birdseye {
    display: none !important;
}

#ZoomInButton {
    display: block !important;
}

.disabled {
    display: none !important;
}

.labelCanvas {
    width: 100% !important;
}

.CopyrightContainer {
    display: none !important;
}

.bm_LogoContainer {
    display: none !important;
}

.ScaleBar {
    margin-bottom: 10px !important;
}

#mapa {
    width: 100% !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.row>* {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    padding: 0;
    margin: 0;
}


html {
    height: 100%;
}