/*Css comum a muitas páginas */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

img{
	vertical-align: unset;
}

/* Aplicando margem, fonte e tirando style das listas */
body,ul,li,p {
	margin: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial !important;
	user-select: none;
}

/* Aplicando cor e tirando decoração dos textos */
.menu li, .menu a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
	cursor: pointer;
	transition: 0.4s ease;
	user-select: none;
}

.menu a:hover{
	color: #4267b3 !important;
	text-shadow: none;

}

/* Tirando decoracao e aplicando cor no link */
a{
	text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
	transition: 0.4s ease;
	user-select: none;
	font-family: unset !important;
}

/* Aplicando cor */
.desc p{
	color: #ffffff;
}

/* Aplicando tamanho, borda e margem */
.icone{
	width: 24px;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 9px;
}

/* Aplicando flexbox, alinhamento, cor e sombra*/
.header{
	display: flex;
	height: 100px;
	justify-content:space-between;
	padding:20px;
	align-items: center;
	background: linear-gradient(to bottom right, #057dc2, #83e3cd);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-sizing:unset !important;
}

/* Aplicando tamanho, borda e margem */
#logo{
    width: 150px;
  	border-radius: 10px;
  	margin-bottom: 5px !important;
}

/* Aplicando flexbox e padding no menu*/
.menu{
	display: flex;
	padding-top: 10px;
}

/* Aplicando margem */
.menu li{
	margin-left:20px;
}

/* Aplicando cor */
#textos{
	color: black;
}

/* Aplicando fonte, cor, tamanho e espaçamento*/
footer{
	font-family: 'Inter', sans-serif !important;
	box-sizing: border-box;
	letter-spacing: 1px;
	width: 100%;
	color:rgb(255, 255, 255);
	margin-top: 30vh;
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

footer p{
	font-family: 'Montserrat', sans-serif;
}

/* Aplicando cor, display, número de colunas e espaçamento */
#footer-content{
	background-color: #057dc2;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	padding: 4rem;
	padding-bottom: 2.7rem;
	padding-top: 20px;
}

/* Aplicando espaçamento */
#footer_contacts{
	padding-right: 1px;
}

/* Aplicando tamanho e espaçamento */
#foot{
	margin: 0;
	width: 25%;
	padding: 8%;
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	box-sizing:unset !important;
}

/* Aplicando flexbox e margem */
#footer_social_media{
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
	
}

/* Aplicando cor, tamnho e borda */
#footer_social_media .footer-link{
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5px;
}

/* Aplicando  flexbox e tirando style da lista */
.footer-list{
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
	
}

/* Aplicando cor */
.footer-list .footer-link:hover{
	color: #7f37c9 !important;
}

/* Aplicando cor, flexbox e alinhando*/
#instagram{
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Aplicando cor, flexbox e alinhando*/
#facebook{
	background-color: #1877f2;
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Aplicando cor e flexbox */
#whatsapp{
	background-color: #1da1f2;
	display: flex;
	justify-content: center;
	align-items: end;
}

/* Definindo a margem dos h3 do footer */
.h3foot{
	margin: 0px;
}

/* Aplicando flexbox*/
#footer_subscribe{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* Aplicando flexbox, cor e borda */
#input_group{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 5px;
}

/* cor, tamanho, espaçamento e colocando propriedades com valor padrão */
#input_group input{
	all: unset;
	padding: 0.75rem;
	width: 100%;
	color: black;
}

/* Aplicando cor, borda, fonte e cursor */
#input_group button{
	background-color: #4267b3 ;
	border: none;
	color: #ffffff;
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}

/* Aplicando opacidade */
#input_group button:hover{
	opacity: 0.8;
}

/* Adicionando margem na imagem */
#input_group img{
	margin-top: 13px;
}

/* aplico cor de fundo, dou as configurações do texto e espacamento */
#copyright{
	display: flex;
	justify-content: center;
	background-color: #284174;
	font-size: 0.9rem;
	padding: 0.8rem;
	font-weight: 100;
	font-family: unset !important;
}

/* Aplicando flexbox */
.conteudo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

/* Aplicando flexbox, tamanho, borda, cor e sombra */
.evento{
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 1%;
    margin-left: 2%;
	margin-right: 2%;
    margin-top: 2%;
    width: 60%;
    border: 0;
    border-radius: 10px; 
    box-shadow: 0 3px 5px 5px rgba(131, 131, 131, 0.46);
	background: linear-gradient(55deg,#83e3cd, #057dc2, #83e3cd);
}

/* aplico um display flex entre a imagem e as informacoes de um evento*/
.informacoes{
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* Aplicando tamanho e borda*/
.imgEventos{
    width: 400px;
    height: 225px;
	border-radius: 5px;
}

/* Aplicando flexbox e margens */
.desc{
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	margin-left: 7px;
	width: 100%;
}

/* Aplicando fonte e margem */
.pTitulo{
    font-style: oblique;
	font-size: 25px;
	margin-bottom: 15px;
}

/* Defininfo margem */
.data_hora{
	margin-bottom: 3.5%;
}

/* Defininfo margem */
.ende{
	margin-bottom: 0;
}

/* aplico um flex entre o valor do evento e o botao de inscrever-se */ 
.btn_des{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	margin-top: auto;
}


/* Definindo tamanho, cor, fonte, borda e posição */
.lista, .slide, .inscrever{
  width: 100px; 
  color: white;
  font-size: 15px;
  border: 0.5px solid #333333;
  border-radius: 10px;
  background-color: #057dc2;
  height: 50px;
  left: 700px;
  margin-left: 20px;
  transition: 0.4s ease;
  user-select: none;
}

/* mudo o cursor para pointer ao passar o mouse no botao inscrever-se */
.lista:hover, .slide:hover, .inscrever:hover{
	cursor: pointer;
	background-color: #284174;
}