/* Adicionando */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* Adicionando cores e tirando sombra   */
#ajudaa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Trocando a cor da imagem */
.iconeajuda {
  fill: var(--azul_sec) !important;
}

/* Tirando estilo da lista */
ul {
  list-style: none;
}

/* Adicionando margin, cor e posicionado o container */
#container {
  margin-top: 2rem;
  position: relative;
  border-radius: 10px;
  background-color: var(--perg1);
  box-shadow: var(--sombraalterakey);
}

/* Adicionando um cursor ao passar o mouse por cima */
.item:hover {
  cursor: pointer;
}

/* Adicionando espacamento, tamanho, cor e alinhamento  */
.pergunta {
  padding: 0.6rem;
  width: 100%;
  color: var(--branco);
  text-align: justify;
}

/* Adicionando cor */
.prim {
  background-color: var(--perg1);
}

/* Adicionando cor */
.seg {
  background-color: var(--perg2);
}

/* Adicionando espacamento, cor, tamanho, alinhamento e deixando ele escondido */
.resp {
  padding: 0.6rem;
  display: none;
  color: var(--black);
  width: 100%;
  text-align: justify;
  background-color: var(--resp);
}

/* Adicionando cor, borda e tamanho */
#suporte {
  background-color: var(--supfund);
  border-radius: 100%;
  width: 50px;
}