@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap");

/* Definicoes gerais da pagina */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Tirando sombra */
#criaa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Colocando cor no icone de home */
.iconecria {
  fill: var(--azul_sec) !important;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o círculo no topo do container */
  min-height: 100vh;
  max-width: unset !important;
  padding-top: 10px;
}

/* Retirando a borda */
input {
  border: 0 !important;
}

/* Adicionando flex-box */
.loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Adicionando flex-box e espacamento entre divs */
.alinha {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Adicionando tamanho */
.espaco {
  width: 100%;
}

/* Retirando opacidade, altura e adicionando transicao */
#eventorepete {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.infos p{
  color: white !important;
  margin-bottom: 0.3rem !important;
  font-size: 0.9rem !important;
}

/* Adicionando minimo de altura */
.infos {
  min-height: 400px;
}

/* Adicionando tamanho */
.step,
form {
  width: 100%;
}

/* Adicionando cor e centralizando o texto */
.step h1 {
  color: white;
  text-align: center;
}

/* Adicionando minimo e maximo de altura */
#desc {
  min-height: 58px;
  max-height: 250px;
}

/* Adicionando maximo de altura */
#preco {
  max-width: 270px !important;
}

/* Adicionando cor */
#labelimg {
  color: white;
}

/* Adicionado tamanho */
input[type="time"] {
  width: 130px !important;
}

/* Adicionando cor, fonte e margin na parte de baixo da div */
#legendinha {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0 !important;
}

/* Adicionando cor e borda */
.btn-outline-primary {
  color: white !important;
  border-color: white !important;
  --bs-btn-active-bg: white !important;
}

/* Adicionado cor e borda */
.btn-check:checked + .btn {
  color: var(--roxo_terc) !important;
  border-color: var(--roxo_terc) !important;
}

/* Adicionando flex-box, tamanho espacamento */
.form-container {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Adicionando cor, flex-box, espacamento e sombra */
form {
  background-color: var(--form_cria) !important;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Adicione isso */
  justify-content: space-between; /* Adicione isso */
  height: 100%; /* Adicione isso */
  gap: 20px;
  box-shadow: -1px -1px 15px 1px rgba(0, 0, 0, 0.75);
}

/* Adicionadno flex-box e margin no topo da div */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Adicionando espacamento, borda, cor e trocando o cursor */
.button-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Adicionando flex-box */
.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Adicionando fonte, flex-box, espacamento e trocando o cursor */
.prev-btn,
.next-btn {
  cursor: pointer;
  height: 50px;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

/* Reposicionando a div */
.prev-btn:active,
.next-btn:active {
  transform: scale(0.95);
}

/* Adicionadno cor */
.iconevoltarevents {
  fill: var(--azul-claro_sec) !important;
}

/* Adicionando margin na esqueda e cor */
.prev-btn {
  margin-left: 0 !important;
  background: white;
  color: var(--azul-claro_sec);
}

/* Adicionando cor e margin */
.next-btn {
  background: var(--azul-claro_sec);
  margin-left: auto !important;
  color: white;
}

/* Adicionando cor */
.next-btn:hover {
  background: var(--azul_claro);
}

/* Adicionando margin e transicao */
.prev-btn > svg {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Reposicionando div  */
.prev-btn:hover svg {
  transform: translateX(-5px);
}

/* Adicionando borda */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

/* Adicionado cor, fonte, espacamente, posicionamento e escondendo parte do elemento*/
.btn-53 {
  -webkit-tap-highlight-color: transparent;
  margin-left: auto !important;
  -webkit-appearance: button;
  background-color: var(--azul_quart);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  border-radius: 20px;
  display: block;
  font-weight: 900;
  height: 50px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-transform: uppercase;
}

/* Adicionando cursor padrao */
.btn-53:disabled {
  cursor: default;
}

/* Adicionadno contorno automatico */
.btn-53:-moz-focusring {
  outline: auto;
}

/* Centralizando item na esquerda e deixando ele exposto  */
.btn-53 svg {
  display: block;
  vertical-align: middle;
}

/* Deixando div escondida */
.btn-53 [hidden] {
  display: none;
}

/* Adicionando cor, posicionamento, transicao e tirando a distancia entre divs */
.btn-53 .original {
  background: var(--azul-claro_sec);
  color: white;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

/* Reposicioando div */
.btn-53:hover .original {
  transform: translateY(100%);
}

/* Adicionando posicionamento */
.btn-53 .letters {
  display: inline-flex;
}

/* Adicioando transicao, reposicionando div e tirando opacidade */
.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

/* Reposicionando div  */
.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

/* Adicionado opacidade e reposicionado div */
.btn-53:hover span {
  opacity: 1;
  transform: translateY(-3px);
}

/* Adicionando tempo de atraso */
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

/* Adicionando tempo de atraso */
.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

/* Adicionando tempo de atraso */
.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

/* Adicionando tempo de atraso */
.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

/* Adicionando tempo de atraso */
.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
