/* Troco a cor do link de myevents */
#myeventsa {
  color: var(--azul_sec) !important;
  text-shadow: none;
}

/* Mudo o icone de myevents */
.iconemeusevents {
  fill: var(--azul_sec) !important;
}

#seletorevento {
  display: flex;
  flex-direction: row;
}

h3 {
  text-align: center;
}

.selected {
  background-color: var(--bgmyeve);
  color: var(--colmyeve);
  border-bottom: 5px solid var(--colmyeve);
}

.not-selected {
  background-color: var(--bgmyeve);
  color: var(--colmyeve);
  transition: 0.3s;
}

.not-selected:hover {
  background-color: var(--bgmyevehover);
  color: var(--colmyevehover);
}

/* altero o p de semeventos trocando a cor e os espacamentos */
.semevento {
  color: var(--semevento);
  margin-top: 10%;
  margin-bottom: 10%;
  display: none;
}

/* deixo como padrão os eventos invisíveis */
.evento {
  display: none;
}

/* mexo no botao de cancelar inscricao, colocando padding e trocando as cores e espacamento */
.inscricao {
  padding: 10px;
  color: var(--branco);
  border: 0.5px solid #333333;
  border-radius: 10px;
  background-color: red;
  transition: 0.4s ease;
  user-select: none;
}

/* Troco a cor do botao no seu hover */
.inscricao:hover {
  cursor: pointer;
  background-color: #962121;
}

/* Altero as configruracoes dos inputs de barra de pesquisa */
input {
  height: 50px;
  outline: none;
  padding-left: 50px;
  width: 100%;
  background: none;
  z-index: 3;
  border: none;
  box-shadow: 1px 0px 3px 2px var(--cor_sombraev);
  border-radius: 25px;
  background-color: var(--branco);
}

/* deixo como padrao a mesagem de erro invisivel e centralizada */
.msg_erro {
  display: none;
  margin-top: 25px;
  margin-bottom: 10%;
  text-align: center;
}

/* classe onde a barra sera invisivel */
.sembarra {
  display: none;
}
